* {
  font-family: monospace;
}

:root {
  --bg-color: #F3D2E5;
  --fg-color: #3642F7;
}

html {
  font-size: 100%;
}

body {
  height: 100vh;
  min-width: 230px;
  background-color: var(--bg-color);
  padding: 2rem 2rem 0 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  color: #3642F7;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  margin: 0;
  color: white;
}

.main-links li {
  margin-bottom: 1rem;
}

hr {
  width: 80%;
  height: 2px;
  border: none;
  background-color: var(--fg-color);
  max-width: 600px;
}

ul.main-links {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

div.main-link {
  border: none;
  background-color: #3642F7;
  padding: 2rem 1.3rem;
  color: var(--bg-color);
  font-weight: bolder;
  font-size: 1.3rem;
  width: fit-content;
  text-align: center;
}


div.main-link:hover {
  background-color: #2630C0;
  padding: 2rem 1.4rem;
  cursor: pointer;
}

.pine-duck-logo {
  width: 15rem;
}

.links-nav {
  margin-top: 2rem;
}



@media screen and (min-width: 500px) {
  .links-nav {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0rem;
    /*top: 1rem;*/
  }
  
  .portrait-container {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.links-nav a:hover {
 /* border-bottom: 0.2rem solid white;
  padding-bottom: -1rem; */
}

.links-nav a {
  position: relative;
}

.links-hover-box::after, .links-hover-box::before {
  content: '';
  width: 120%;
  height: 0.5rem;
  position: absolute;
  top: 0.8rem;
  z-index: -10;
  background-color: white;
}

.links-nav a::after {
  left: 0;
}

.links-nav a::before {
  width: 105%;
  right: 0;
}


.links-nav ul li {
  margin-bottom: 1.4rem;
  color: var(--fg-color);
}

.links-nav h2 {
  font-weight: bold;
}


.subhead {
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
}

.duck {
  width: 4rem;
}

.duck-container {
  width: 100%;
  height: fit-content;
  position: fixed;
  bottom: 1rem;
  left: 0;
  display: flex;
  justify-content: center;
}



.portrait-container {
  width: 7rem; 
  height: 7rem;
  border-radius: 50%;
  background-image: url('../graphics/portrait.png');
  background-size: auto 140%;
  background-position: 30% 30%;
}

.about-and-links {
  margin-top: 3rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  text-align: center;
  margin-top: 1rem;
  color: var(--fg-color);
  line-height: 1.4;
}









