* {
  font-family: monospace;
}

:root {
  --bg-color: #F3D2E5;
  --fg-color: #3642F7;
}

html {
  font-size: 100%;
}

body {
  min-width: 300px;
  background-color: var(--bg-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  color: #3642F7;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  margin: 0;
  color: white;
}

button.main-link {
  border: none;
  background-color: #3642F7;
  padding: 2rem 1.3rem;
  color: var(--bg-color);
  font-weight: bolder;
  font-size: 1.3rem;
}


button.main-link:hover {
  background-color: #2630C0;
  padding: 2rem 1.4rem;
  cursor: pointer;
}

.pine-duck-logo {
  width: 15rem;
}